.app {
  height: 100vh;

  .sections {
    width: 100%;
    height: calc(100vh - 7rem);
    position: relative;
    top: 7rem;
    scroll-snap-type: y mandatory;
    scrollbar-width: none; //for firefox

    @media only screen and (max-width: $bp-lg-1) {
      scroll-snap-type: none;
    }

    &::-webkit-scrollbar {
      display: none;
    }

    > * {
      width: 100%;
      height: calc(100vh - 7rem);
      scroll-snap-align: start;

      &:nth-child(3) {
        @media only screen and (max-width: $bp-md-1-2) {
          height: 75rem;
          margin-bottom: 10rem;
        }
      }

      &:nth-child(4) {
        @media only screen and (max-width: $bp-md-1-2) {
          height: auto;
          margin-bottom: 10rem;
        }
      }

      &:last-child {
        @media only screen and (max-width: $bp-lg-1) {
          height: auto;
        }
      }
    }
  }
}
