* {
  -webkit-tap-highlight-color: transparent;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;

  &:focus {
    outline: 0;
  }
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  overflow-x: hidden;
}

html {
  // This defines what 1rem is
  box-sizing: border-box;
  font-size: 62.5%; //* 1rem = 10px  10px/16px = 62.5%

  // @media only screen and (max-width: $bp-lg-2) {
  //   font-size: 56.25%;
  // }

  // @media only screen and (max-width: $bp-md-1) {
  //   font-size: 50%;
  // }
}

::selection {
  background-color: $color-primary;
  color: #fff;
}
