.portfolio {
  background-image: linear-gradient(
    to right bottom,
    #fff,
    rgba($color-primary-dark, 0.4)
  );
  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    font-size: 5rem;
    font-weight: 900;
  }

  ul {
    margin: 1rem;
    list-style: none;
    display: flex;

    li {
      font-size: 2rem;
      font-weight: 700;
      padding: 1rem;
      border-radius: 100px;
      cursor: pointer;
      text-shadow: 0rem 1rem 2rem rgba(0, 0, 0, 0.4);

      &:not(:last-child) {
        margin-right: 5rem;
      }

      &.active {
        background-color: $color-primary;
        color: #fff;
      }
    }
  }

  .container {
    width: 60%;
    height: 80%;
    border-radius: 100px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 5rem;
    justify-items: center;
    align-items: center;
    margin: auto;
    box-shadow: $shadow-1;

    .item {
      border-radius: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 20rem;
      height: 20rem;
      -webkit-shape-outside: circle(50% at 50% 50%);
      shape-outside: circle(50% at 50% 50%);
      -webkit-clip-path: circle(50% at 50% 50%);
      clip-path: circle(50% at 50% 50%);
      position: relative;
      overflow-x: visible !important;

      img {
        width: 100%;
        height: 100%;
        transition: $transition-2;
        object-fit: cover;
      }

      figcaption {
        font-size: 2rem;
        color: #fff;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 20%);
        text-transform: uppercase;
        text-align: center;
        opacity: 0;
        transition: $transition-2;
      }

      &:hover figcaption {
        opacity: 1;
        transform: translate(-50%, -50%);
      }

      &:hover img {
        filter: blur(3px) brightness(80%);
      }
    }
  }
}
