.works {
  background-color: $color-primary-dark;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  @media only screen and (max-width: $bp-md-1-2) {
  }

  .arrow {
    height: 5rem;
    position: absolute;
    cursor: pointer;

    &.left {
      left: 10rem;
      transform: rotate(-180deg);

      @media only screen and (max-width: $bp-md-1-2) {
        left: 2rem;
      }

      @media only screen and (max-width: $bp-sm-1) {
        left: 20rem;
        top: 65rem;
      }

      @media only screen and (max-width: $bp-sm-2) {
        left: 5rem;
      }
    }

    &.right {
      right: 10rem;

      @media only screen and (max-width: $bp-md-1-2) {
        right: 2rem;
      }

      @media only screen and (max-width: $bp-sm-1) {
        right: 20rem;
        top: 65rem;
      }

      @media only screen and (max-width: $bp-sm-2) {
        right: 5rem;
      }
    }
  }

  .slider {
    height: 50rem;
    display: flex;
    position: absolute;
    left: 0;
    transition: all 0.3s;

    .container {
      width: 100vw;
      display: flex;
      justify-content: center;
      align-items: center;

      .item {
        width: 70rem;
        height: 80%;
        border-radius: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $color-secondary;
        box-shadow: $shadow-1;

        @media only screen and (max-width: $bp-sm-2) {
          width: 55rem;
        }

        @media only screen and (max-width: $bp-sm-3) {
          width: 38rem;
        }

        .left {
          flex: 4;
          height: 80%;
          display: flex;
          align-items: center;
          justify-content: center;

          .leftContainer {
            width: 90%;
            height: 70%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            color: #fff;

            @media only screen and (max-width: $bp-sm-2) {
              align-items: center;
            }

            .imgContainer {
              width: 4rem;
              height: 4rem;
              border-radius: 50%;
              display: flex;
              justify-content: center;
              align-items: center;
              background-color: #fff;

              img {
                width: 2.5rem;
              }
            }

            h2 {
              font-size: 2rem;

              @media only screen and (max-width: $bp-sm-3) {
                font-size: 1.5rem;
              }
            }

            p {
              font-size: 1.3rem;

              @media only screen and (max-width: $bp-sm-3) {
                font-size: 1.1rem;
              }
            }

            span {
              font-size: 1.2rem;
              font-weight: bold;
              text-decoration: underline;
              cursor: pointer;
            }
          }
        }

        .right {
          flex: 9;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          overflow: hidden;

          img {
            width: 40rem;
            transform: rotate(-10deg);

            @media only screen and (max-width: $bp-sm-2) {
              height: 40rem;
              transform: rotate(0);
              width: 30rem;
            }
          }
        }
      }
    }
  }
}
