$scrollbarBG: transparent;
$thumbBG: #e4e4e4;
$thumbBG-hover: #90a4ae;

$color-primary: #c69963;

$color-secondary: #15023a;
$color-primary-dark: #b28451;

$transition-1: all 1s ease;
$transition-2: all 0.5s ease;
$transition-3: all 0.2s ease-out;
// $transition-2: all 0.8s cubic-bezier(0.65, 0, 0.35, 1);

$shadow-1: 0 0 1.3rem rgba(#000, 0.6);
$shadow-2: 2rem 2rem 2rem rgba(198, 153, 99, 0.4);
$shadow-2: 2rem 2rem 2rem rgba(255, 255, 255, 0.4);

// // MEDIA QUERY

// $bp-lg-1: 75em; // 1200/16 = 75
// $bp-lg-2: 68.75em; // 1100/16 = 68.75
// $bp-md-1: 62.5em; // 1000/16 = 62.5
// $bp-md-2: 50em; // 800/16 = 50
// $bp-sm-1: 40.625em; // 650/16 = 40.625
// $bp-sm-2: 28.125em; // 450/16 = 28.125
