$color-primary: #c69963;

$color-secondary: #15023a;
$color-primary-dark: #b28451;

// $color-grey-light-1: #f9f7f6;
// $color-grey-light-2: #aaa;

// $color-grey-dark-1: #54483a;
// $color-grey-dark-2: #6d5d4b;

$transition-1: all 1s ease;
$transition-2: all 0.5s ease;
// $transition-2: all 0.8s cubic-bezier(0.65, 0, 0.35, 1);

// $shadow-1: 0 0 1.3rem rgba(#000, 0.6);
// $shadow-2: 0 2rem 6rem rgba(#000, 0.3);

// $radius-1: 3px;

// $font-primary: 'Nunito', sans-serif;
// $font-display: 'Josefin Sans', sans-serif;

// // MEDIA QUERY

// $bp-lg-1: 75em; // 1200/16 = 75
// $bp-lg-2: 68.75em; // 1100/16 = 68.75
// $bp-md-1: 62.5em; // 1000/16 = 62.5
// $bp-md-2: 50em; // 800/16 = 50
// $bp-sm-1: 40.625em; // 650/16 = 40.625
// $bp-sm-2: 28.125em; // 450/16 = 28.125
